@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #333;
    color: #fff;
}
.container{
    max-width: 500px;
    width: 100%;
    max-height: 915px;
    height: 100%;
    padding: 20px;
}
.container h3{
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}
.container .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}
.container label{
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    font-size: 1.2em;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    cursor: pointer;
}
.container .circle{
    background: #333;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 50px auto 0 auto;
    background: linear-gradient(to bottom, #333333, #1a1a1a);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: round 10s linear infinite;
}
@keyframes round {
    from{
    }
    to{
        transform: rotate(360deg)
    }
  }
.circle img{
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
    transform: translate(6%, 5.5%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
}
.container .album{
    margin-top: 20px;
    text-align: center;
}
.album .song{
    font-size: 1.4em;
    letter-spacing: 2px;
    font-weight: 500;
}
.album .feeling{
    margin-top: 10px;
    letter-spacing: 1px;
}
.container .time{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .progress-bar{
    position: relative;
    height: 5px;
    max-width: 370px;
    width: 100%;
    background: rgb(104, 104, 104);
    border-radius: 5px;
    margin-top: 25px;
    box-shadow: 0 5px 5px rgb(104, 104, 104) inset;
}
.progress-bar::before{
    position: absolute;
    content: '';
    height: 5px;
    width: 100%;
    border-radius: 5px;
    background: rgb(0, 162, 255);
    animation: progress-bar 250s linear infinite;
}
@keyframes progress-bar{
 0%{
    width: 0;
 }  
 100%{
    width: 100%;
 }
}
.container .player-controler{
    margin: 40px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    font-weight: smaller;
    transition: all 0.3s ease;
}

#btn-1:checked ~ label .fa-backward-step,
#btn-2:checked ~ label .fa-pause,
#btn-3:checked ~ label .fa-forward-step{
    background: rgb(0, 162, 255); 
    height: 100%;
    width: 100%;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    transform: translatex(-20% , -10%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
input[type="radio"]{
    display: none;
}